body{
        background-color: #44abff;
        font: normal 15pt Arial;
}

header, footer{
        text-align: center;
        color: #f3f3f3;        
}

section{
        background: #fff;
        border-radius: .5rem;
        padding: 1em;
        width: 500px;
        margin: auto;
        box-shadow: .3em .3em 10px rgba(0, 0, 0, 0.685);
}

div{
        text-align: center;
        padding: .5rem;
}

footer{
        font-style: italic;
}